<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    
    <select id="getAllSucursales" resultType="pojos.Sucursal">
        SELECT idSucursal, sucursales.nombre, sucursales.calle, sucursales.numero, sucursales.codigoPostal, sucursales.colonia, sucursales.ciudad, sucursales.telefono, sucursales.latitud, sucursales.longitud, sucursales.nombreEncargado, sucursales.idEmpresa, empresas.nombre as 'nombreEmpresa' 
        FROM sucursales 
        INNER JOIN empresas 
        on sucursales.idEmpresa = empresas.idEmpresa;
    </select>
    
    <insert id="registrar" parameterType="pojos.Sucursal">
        INSERT INTO sucursales(nombre, calle, numero, codigoPostal, colonia, ciudad, telefono, latitud, longitud, nombreEncargado, idEmpresa)
        VALUES (#{nombre},#{calle},#{numero},#{codigoPostal},#{colonia},#{ciudad},#{telefono},#{latitud},#{longitud},#{nombreEncargado},#{idEmpresa})
    </insert>
    
    <update id="modificar" parameterType="pojos.Sucursal">
        UPDATE sucursales SET nombre=#{nombre}, calle=#{calle}, numero=#{numero}, codigoPostal=#{codigoPostal}, colonia=#{colonia}, ciudad=#{ciudad}, telefono=#{telefono}, latitud=#{latitud}, longitud=#{longitud}, nombreEncargado=#{nombreEncargado}, idEmpresa=#{idEmpresa} 
        WHERE idSucursal = #{idSucursal}
    </update>
    
    <delete id="eliminar" parameterType="pojos.Sucursal">
        DELETE FROM sucursales 
        WHERE idSucursal = #{idSucursal}
    </delete>
    
    <select id="buscar" resultType="pojos.Sucursal">
        SELECT * FROM sucursales 
        WHERE nombre=#{datoBuscar} OR calle=#{datoBuscar} OR numero=#{datoBuscar} OR ciudad=#{datoBuscar}
    </select>
</mapper>
