<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">
    
    <select id="getAllUsuarios" resultType="pojos.Usuario">
        SELECT * FROM usuario
    </select>
    
    <insert id="registrar" parameterType="pojos.Usuario">
        INSERT INTO usuario(nombre, apellidoPaterno, apellidoMaterno, telefono, correo, calle, numero, fechaNacimiento, contrasena)
        VALUES (#{nombre},#{apellidoPaterno},#{apellidoMaterno},#{telefono},#{correo},#{calle},#{numero},#{fechaNacimiento},#{contrasena})
        
    </insert>
    
    <update id="modificar" parameterType="pojos.Usuario">
        UPDATE usuario SET nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno=#{apellidoMaterno}, telefono=#{telefono}, calle=#{calle}, numero=#{numero}, fechaNacimiento=#{fechaNacimiento}, contrasena=#{contrasena} 
        WHERE idUsuario = #{idUsuario}
    </update>
    
    <delete id="eliminar" parameterType="pojos.Usuario">
        DELETE FROM usuario 
        WHERE idUsuario = #{idUsuario}
    </delete>
    
    <select id="loginMovil" resultType="pojos.Usuario" parameterType="pojos.Usuario">
        SELECT idUsuario, nombre, apellidoPaterno, apellidoMaterno, correo, contrasena
        FROM usuario
        WHERE correo = #{correo} and contrasena = #{contrasena}    
    </select>
    
</mapper>
